<section class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
    </nav>    

       <article>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Cadastro de Cliente</h5>
            </div>
            <div class="card-body">
                <div clas="row">
                    <div class="col-md-3">
                        <img src="">
                        <input type="file" name="foto" ngModel>
                        
                    </div>
                    <div class="col-md-9">
                        <div class="col-sm-6 form-group">
                            <label for="nome">Nome Cliente</label>
                            
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="email">E-mail</label>
                           
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="telefone">Telefone</label>
                            
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="cpf">CPF</label>
                           
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="rg">RG</label>
        
                        </div>  
                        <div class="col-sm-4 form-group">
                            <label for="nascimento">Nascimento</label>

                        
                        </div>                           
                    </div>
                </div>
                <div class="row">
                   
                </div>
            </div>
            <div class="card-footer">
               
            </div>
        </div>
       </article>

    </section>