<h2>Lista de Pedidos</h2>

<table class="table table-success table-striped">
  
  <thead>
    <tr>
      <th scope="col">#   </th>
      <th scope="col">Código</th>
      <th scope="col">CPF</th>
      <th scope="col">NOME DO CLIENTE</th>
      <th scope="col">PRODUTO</th>
      <th scope="col">QUANTIDADE</th>
      <th scope="col">STATUS</th>
      <th scope="col">Data de Entrega</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>234</td>
      <td>1111111111</td>
      <td>Joaquim Ribeiro</td>
      <td>MOTO G5</td>
      <td>2</td>
      <td>9</td>
      <td>12/05/2023</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>235</td>
      <td>222222222</td>
      <td>Maria Carla</td>
      <td>MOTO G5</td>
      <td>2</td>
      <td>9</td>
      <td>12/05/2023</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>236</td>
      <td>333333333</td>
        <td>Otto Manek</td>
        <td>MOTO G5</td>
        <td>2</td>
        <td>9</td>
      <td>12/05/2023</td>
    </tr>
  </tbody>
</table>