<section class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

        </ol>
    </nav>     

        <article>

        </article>
   
    <br>
    <BR>
    <article>
    
                <h5 class="card-title">Pedidos disponivel para Cancelamentos</h5>
            <div>
                <table class="table">
                    <thead class="thead-dark">
                        <table class="table table-success table-striped">
                          <thead>
                            <tr>
                              <th scope="col">#   </th>
                              <th scope="col">Código</th>
                              <th scope="col">CPF</th>
                              <th scope="col">NOME DO CLIENTE</th>
                              <th scope="col">PRODUTO</th>
                              <th scope="col">QUANTIDADE</th>
                              <th scope="col">STATUS</th>
                              <th scope="col">Data de Entrega</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>234</td>
                              <td>1111111111</td>
                              <td>Joaquim Ribeiro</td>
                              <td>MOTO G5</td>
                              <td>2</td>
                              <td>9</td>
                              <td>12/05/2023</td>
                              <button type="button" class="btn btn-success">Cancelar Pedido</button>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>235</td>
                              <td>222222222</td>
                              <td>Maria Carla</td>
                              <td>MOTO G5</td>
                              <td>2</td>
                              <td>9</td>
                              <td>12/05/2023</td>
                              <button type="button" class="btn btn-success">Cancelar Pedido</button>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>236</td>
                              <td>333333333</td>
                                <td>Otto Manek</td>
                                <td>MOTO G5</td>
                                <td>2</td>
                                <td>9</td>
                              <td>12/05/2023</td>
                              <button type="button" class="btn btn-success">Cancelar Pedido</button>
                            </tr>
                          </tbody>
                        </table>
                    </thead>
                    <tbody>  
                    </tbody>
                </table>
            </div>
        
    </article>
</section>
